body {
    padding-top: 56px;
    height: 100%;
    overflow: hidden;
}

.sidebar-scroll,
.detail {
    overflow: auto;
}

.sidebar-scroll {
    height: 100%;
    padding: 0 12px;
}

.message {
    margin-top: 20px;
    margin-bottom: 10px;   
}

.message .glyphicon {
    font-size: 16px;
    margin-left: 10px;
}

.sidebar {
    border-right: 1px solid #CCC;
}

.sidebar-commit,
.load {
    font: bold;
    border-bottom: 1px #CCC solid;
    padding: 3px 10px;
    margin-bottom: 0;
    height: 50px;
}

.load {
    text-align: center;
    line-height: 43px;
    background-color: lightcyan;
}

.sidebar-commit:hover,
.load:hover {
    cursor: pointer;
}

.sidebar-control {
    padding: 5px 10px;
    height: 50px;
    background-color: whitesmoke;
    border-bottom: 1px solid #CCC;
}

.additions,
.deletions {
    font-weight: bold;
}

.additions {
    color: green;
}

.deletions {
    color: red;
}

.detail {
    padding: 0 20px;
}

.sidebar-commit.selected {
    color: whitesmoke;
    background-color: dodgerblue;
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

.title {
    color: whitesmoke !important;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}